<!DOCTYPE html>
<html>
  <head>
    <title>LoginApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      .flash__alert   { color: red; }
      .flash__notice  { color: blue; }
      .flash__success { color: green; }
    </style>
    <%= javascript_tag "application" %>
  </head>

  <body>
  <br><br>
    <% if flash.any? %>
    <% flash.each do |key, value| %>
      <section class="flash flash__<%= key %>"><%= value.html_safe %></section>
    <% end %>
  <% end %>

    <%= yield %>
  </body>
</html>
